* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.d_flex {
  display: flex;
}

.my_container {
  width: 60%;
  margin: auto;
}

header .header_top {
  background-color: #0282f9;
  text-align: right;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  padding: 3px 0;
}
header .header_bottom {
  height: 80px;
}
header .header_bottom .my_container {
  align-items: center;
  justify-content: space-between;
}
header .header_bottom .my_container .dc_header_logo {
  height: 70px;
}
header .header_bottom .my_container li {
  line-height: 75px;
  margin: 0 20px;
}
header .header_bottom .my_container li a {
  font-size: 15px;
  display: inline-block;
  height: 100%;
  font-weight: 600;
}
header .header_bottom .my_container li a.active {
  color: #0282f9;
  border-bottom: 4px solid #0282f9;
}

.banner {
  height: 400px;
  overflow: hidden;
}

.comics_container {
  background-color: #1c1c1c;
  padding-bottom: 30px;
}
.comics_container .blue_btn {
  color: white;
  text-transform: uppercase;
  background-color: #0282f9;
  padding: 15px 20px;
  display: inline-block;
  font-weight: 600;
}
.comics_container .load_more {
  font-size: 13px;
  display: flex;
  justify-content: center;
}

.blue_banner {
  background-color: #0282f9;
}
.blue_banner .my_container {
  padding: 30px 0;
  justify-content: space-between;
}
.blue_banner .my_container .banner_card {
  color: white;
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.blue_banner .my_container .banner_card img {
  height: 50px;
  width: auto;
  margin-right: 8px;
}
.blue_banner .my_container .banner_card span {
  font-size: 14px;
}

.single_comic .blue_bar {
  height: 80px;
  background-color: #0282f9;
  position: relative;
}
.single_comic .blue_bar .single_comic_thumb {
  position: absolute;
  bottom: 15px;
  border: 2px solid white;
}
.single_comic .comic_info_top {
  justify-content: space-between;
  padding: 50px 0;
}
.single_comic .comic_info_top .availability_description {
  width: 70%;
}
.single_comic .comic_info_top .availability_description .comic_title {
  text-transform: uppercase;
  color: #0b4763;
  font-weight: 800;
  font-size: 30px;
}
.single_comic .comic_info_top .availability_description .availability_button_container {
  width: 100%;
  padding: 20px 0;
}
.single_comic .comic_info_top .availability_description .availability_button_container .availavility_button {
  padding: 15px;
  font-weight: 600;
  color: white;
}
.single_comic .comic_info_top .availability_description .availability_button_container .availavility_button.available {
  background-color: #55ba59;
}
.single_comic .comic_info_top .availability_description .availability_button_container .availavility_button.right {
  width: 80%;
  border-right: 3px solid #225424;
}
.single_comic .comic_info_top .availability_description .availability_button_container .availavility_button.left {
  width: 20%;
  text-align: center;
}
.single_comic .comic_info_top .availability_description .availability_button_container .availavility_button .light_text {
  color: #c2e6c3;
}
.single_comic .comic_info_top .availability_description .availability_button_container .availavility_button .light_text.availability {
  float: right;
}
.single_comic .comic_info_top .adv {
  text-align: right;
  width: 25%;
}
.single_comic .comic_info_bottom {
  background-color: #f6f6f6;
  padding: 40px 0;
}
.single_comic .comic_info_bottom > div {
  justify-content: space-between;
}
.single_comic .comic_info_bottom .comic_subtitle {
  color: #0b4763;
  font-weight: 600;
  font-size: 23px;
  margin-bottom: 20px;
}
.single_comic .comic_info_bottom .comic_info_line {
  padding: 10px 0;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  font-size: 13px;
  font-weight: 600;
}
.single_comic .comic_info_bottom .comic_info_line .line_title {
  width: 35%;
  color: #0b4763;
}
.single_comic .comic_info_bottom .comic_info_line .line_text {
  width: 65%;
}
.single_comic .comic_info_bottom .talent {
  width: 45%;
}
.single_comic .comic_info_bottom .specs {
  width: 50%;
}

.comics {
  flex-wrap: wrap;
  justify-content: space-between;
}
.comics .single_card {
  width: calc(16.6666666667% - 20px);
  margin-top: 30px;
}
.comics .single_card .card_img {
  height: 170px;
  overflow: hidden;
}
.comics .single_card .comic_text {
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  margin-top: 15px;
}

footer .footer_top {
  background-image: url("../images/footer-bg.jpg");
  padding: 30px 0;
}
footer .footer_top .footer_list {
  margin-right: 50px;
}
footer .footer_top .footer_list .footer_title {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 20px;
}
footer .footer_top .footer_list .footer_link {
  color: #959595;
  font-weight: 600;
  font-size: 13px;
  margin: 5px 0;
}