header{
    .header_top{
        background-color: $primary_color;
        text-align: right;
        color: white;
        text-transform: uppercase;
        font-size: 15px;
        padding: 3px 0;
    }
    .header_bottom{
        height: 80px;
        .my_container{
            align-items: center;
            justify-content: space-between;
            .dc_header_logo{
                height: 70px;
            }
            li{
                line-height: 80px;
                margin:0 20px;
                a{
                    font-size: 15px;
                    display: inline-block;
                    height: 100%;
                    font-weight: 600;
                    &.active{
                        color: $primary_color;
                        border-bottom: 4px solid $primary_color;
                    }
                }
            }
        }
    }
}