// JUMBOTRON
.banner{
    height: 400px;
    overflow: hidden;
    img{
        width: 100%;
    }
}

// *! COMICS LIST
.comics_container{
    background-color: #1c1c1c;
    padding-bottom: 30px;
    .blue_btn{
        color: white;
        text-transform: uppercase;
        background-color: $primary_color;
        padding: 15px 20px;
        display: inline-block;
        font-weight: 600;
    }
    .load_more{
        font-size: 13px;
        display: flex;
        justify-content: center;
    }
}

// *! BLUE BANNER
.blue_banner{
    background-color: $primary_color;
    .my_container{
        padding: 30px 0;
        justify-content: space-between;
        .banner_card{
            color: white;
            margin: 0 10px;
            display: flex;
            align-items: center;
            img{
                height: 50px;
                width: auto;
                margin-right: 8px;
            }
            span{
                font-size: 14px;
            }
        }
    }
}

// *! SINGLE COMIC
.single_comic{
    // *? Blue bar & comic thumb
    .blue_bar{
        height: 80px;
        background-color: $primary_color;
        position: relative;
        .single_comic_thumb{
            position: absolute;
            bottom: 15px;
            border: 2px solid white;
        }
    }

    // *? Comic info
    // Top part
    .comic_info_top{
        justify-content: space-between;
        padding: 50px 0;
        .availability_description{
            width: 70%;
            .comic_title{
                text-transform: uppercase;
                color: $text_dark_color;
                font-weight: 800;
                font-size: 30px;
            }
            .availability_button_container{
                width: 100%;
                padding: 20px 0;
                .availavility_button{
                    padding: 15px;
                    font-weight: 600;
                    color: white;
                    &.available{
                        background-color: #55ba59;
                    }
                    &.right{
                        width: 80%;
                        border-right: 3px solid darken(#55ba59, 30%);
                    }
                    &.left{
                        width: 20%;
                        text-align: center;
                    }
                    .light_text{
                        color: lighten(#55ba59, 30%);
                        &.availability{
                            float: right;
                        }
                    }
                }
            }
        }
        .adv{
            text-align: right;
            width: 25%;
        }
    }

    // Bottom part
    .comic_info_bottom{
        background-color: #f6f6f6;
        padding: 40px 0;
        &>div{
            justify-content: space-between;
        }
        .comic_subtitle{
            color: $text_dark_color;
            font-weight: 600;
            font-size: 23px;
            margin-bottom: 20px;
        }
        .comic_info_line{
            padding: 10px 0;
            border-top: 1px solid #e4e4e4;
            border-bottom: 1px solid #e4e4e4;
            font-size: 13px;
            font-weight: 600;
            .line_title{
                width: 35%;
                color: $text_dark_color;
            }
            .line_text{
                width: 65%;
            }
        }
        .talent{
            width: 45%;
        }
        .specs{
            width: 50%;
        }
    }
}